<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Profil utilisateur</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style/Home.css">
    <link rel="stylesheet" href="../assets/style/profi.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">Trim life</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <!-- <ul class="navs-list"> -->
      <li>
        <a href="./Home.html">
          <i class='bx bx-home' ></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
       <a href="./ProfilUser.html">
         <i class='bx bx-user' ></i>
         <span class="links_name">Mon profil</span>
       </a>
       <span class="tooltip">Mon Profil</span>
     </li>
     <li>
       <a href="./AddCompletion.html">
         <i class='bx bx-list-plus' ></i>
         <span class="links_name">Ajouter completion</span>
       </a>
       <span class="tooltip">Ajoute Completion</span>
     </li>
     <li>
       <a href="./wallet.html">
         <i class='bx bx-wallet' ></i>
         <span class="links_name">Porte Feuille</span>
       </a>
       <span class="tooltip">Porte Feuille</span>
     </li>
     <li>
      <li class="profile" style="background-color: black;">
         <div class="profile-details">
           <div class="name_job">
             <div class="name">Log out</div>
             <div class="job">Examen Rojo</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out" style="background-color: black;"></i>
     </li>
    </ul>
  </div>
  <!-- ato anatiny section no mapiditra anze zvt rht apidirina -->
  <section class="home-section">
    <nav class="bd-header bg-dark py-3 fixed d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 text-white mb-0">
      Trim Life : Mon Porte Feuille
    </h1>
  </div>
</nav>
<div class="container">
      <div class="profile-info">
    <div class="col-4">
      <div class="user-details">
        <h2>Mon Porte Feuille</h2>
        <p>Mon compte: 250,000.59 ar</p>
      </div>
    </div>
</div>
</div>
    <center>
        <h4 class="mb-3" style="margin: 36px;color:#0d6efd;">Inserez code </h4>
        <form class="needs-validation" novalidate>
            <div class="col-sm-6">
                <label for="code" class="form-label">Code</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="code"name="code" placeholder="xxx xxxx xxxx ..." required>
                <div class="invalid-feedback">
                    veuiller remplir le champ.
                  </div>
                </div>
              </div>
          <div class="my-4">
          <center>
          <button class=" btn btn-outline-success btn-lg" type="submit">Confirmer code</button>
          </center>
        </form>
      </div>
    </center>
  </section>
  <Script src="../assets/js/form-validation.js"></Script>
  <script src="../assets/js/Home.js"></script>
<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><div class="nav-link px-2 " style="color:#0d6efd;">Addresse: IT University, Antananarivo, Andoharanofotsy</div></li>
      <li class="nav-item"><div class="nav-link px-2 " style="color:#0d6efd;">Contact: +261 12 345 67</div></li>
      <li class="nav-item"><div class="nav-link px-2 " style="color:#0d6efd;">E-mail: Eemple@Gmail.Com</div></li>
    </ul>
    <p class="text-center " style="color:#0d6efd;">Examen S4 © 2023 IT University</p>
  </div>
</footer>

  <script src="../assets/style/Home.js"></script>

</body>
</html>
